    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= @cocktail.name %></h2>
      </div>
      <div class="panel-body">
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li><%= dose.amount %> <%= dose.ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <h2><%= @cocktail.name %></h2>


<%= link_to 'Ajouter un ingredient', new_cocktail_dose_path(@cocktail)  %>

<%= link_to 'Revenir à la liste', cocktails_path  %>